body, p, h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

header {
  background-color:#007fff;
  color: #FFF;
  height: 5rem;
  display: flex;
  margin-bottom: 2rem;
  opacity: 80%;
    
}

#header-p {
  margin: 0;
  margin: auto;
  font-size: 2rem;
}

form {
  margin-bottom: 2rem;
}

#idTekstveld {
  padding: .5rem;
  border-color: #007fff;
}

#button {
  background-color: #383F51;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

#button:hover {
  background-color: #007fff;
}

.ui-state-active {
  background-color: #FFF !important;
  color: #FFF !important;
  border-color: #333 !important;

}

#ui-id-1, #ui-id-3, #ui-id-5, #ui-id-7 {
  background-color: #007fff !important;
}

input[type=text],  select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #383F51;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

input[type=submit]:hover {
  background-color: #007fff;
}

